@font-face {
  font-family: 'ms_sans_serifregular';
  src: url('./Fonts/ms_sans_serif-webfont.woff2') format('woff2'),
       url('./Fonts/ms_sans_serif-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body{font-family: 'ms_sans_serifregular'; font-weight: 400;
  color: #3e4242;
  line-height: 160%;
  background: #000;
  overflow-x: hidden;
  font-size: 24px;
  height: 100vh; background: #000;
  }